<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>16653490472-1ke1aafol3st8ufj0ltouk0u106hs2au.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.16653490472-1ke1aafol3st8ufj0ltouk0u106hs2au</string>
	<key>API_KEY</key>
	<string>AIzaSyCTN4hLmuFyK76q8yUZnYPsIL3N8URunxc</string>
	<key>GCM_SENDER_ID</key>
	<string>16653490472</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.aloShip</string>
	<key>PROJECT_ID</key>
	<string>aloship-2aa42</string>
	<key>STORAGE_BUCKET</key>
	<string>aloship-2aa42.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:16653490472:ios:08f5cbd97a8ed214cf181d</string>
</dict>
</plist>